/*div {
  border: 1px solid Black;
  padding: 3px;*/

li a {
  color: red;
}

li a:hover {
  color: green;
  }


.row {

  margin-bottom: 20px;
}

.presentation {
  padding: 20px;
  background:grey;
  height: 200px;
  text-align: center;

}
