body{
  
  background-image: url(http://s4.postimg.org/d25yqkfj1/background1.jpg);
  background-attachment: fixed;
  background-size: cover; 
  background-position: center center;
  font-family: 'Acme', sans-serif;
  color:#482062;

}

.container{
  margin-top:50px;
} 
 li{
list-style-type: none;
 }

 /*    ---------    header   ---- ------------   */

.logotitre{
  margin-top: 30px;
  display: block;
}

.logo{
  height:50px;
  width:auto;
}
.navbar-inverse{
  background-color:#ecb00f;

}
.navbar-right, .menuTitle{
  
  margin-right: 20px;
  
}

.navbar-inverse .navbar-nav > li > a{
color: #482062;
}
/*couleur du fond bouton nav*/
.navbar-inverse .navbar-toggle:hover{

  background-color: blue;
}
.navbar-toggle{
margin-top: 0px;
}
/*couleur du bouton*/
    
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: orange;
 }

/*--------     footer  ------------------------ */

footer {
  color:#482062;
  text-align: center;
  background-color:#ecb00f;
  height: 50px;
}
.fooText{
  margin-top: 15px;
}
.fooText ul li {
  margin-top: -5px;
  list-style-type: none;
}
.fooText a{
color:#482062;
}
.fooText a:hover{
text-decoration: none;
color: #50c02d;
}

/*----------- accueil       --------*/

/* decale le caroussel du header*/




.carousel-inner > .item > a > img{

  margin-top:50px;
  width: auto;
  height: 100%; 
  }



/*    ------about----------------*/
.photo{
  display: block;
  width: 250px;
  height: 250px;
  margin:0 auto;
  border-radius: 10px;
}
.prez1, .prez2{
  padding :10px;
  margin-bottom: 10px;
  border:1px solid black;
}



.prez1 p, .prez2 p{
  background-color: grey;
  text-align: justify;
  padding:10px;
  margin:10px;
}

/* --------------  -----------------*/

  /*Formulaire franchise*/

.franchise{
      border: 2px solid black;
      background: lightblue none repeat scroll 0% 0%;
      border-radius: 12px;
      padding: 20px 0px 20px 20px;
      margin: 40px 10px;
}

.franchise .row {
  margin-bottom: 20px;
}
.panel-default > .panel-heading{

  color: #ecb00f;
  text-decoration: none;
}




 /*Page d'attente redirection*/

.redirection {
     background:url("https://s18.postimg.org/anoe9vccp/food_1622390.jpg") no-repeat fixed center;
     background-size: cover;
 }
/*----------restaurant ---------*/
.container-resto{
margin-top: 80px;
}
.restotitre{
  margin: 75px 0px 30px 0px;

}
.restos{
    padding-bottom: 100px;}
 .resto img {
 border-radius: 5px
 }   
  
.btnresto {
  margin:10px 0px 35px 0px;
 }  

.btn-primary {
    color: #482062;
    background-color: #ecb00f;
    border-color:#ecb00f; 
  }

.btn-primary:hover {
    color: #ecb00f;
    background-color: #482062;
    border-color:#ecb00f; 
  }


  
  /*fenetre flottante restaurant*/
.btn-secondary{
  position: absolute;
  bottom: 0;
  right: 0;
  margin:5px; 
}

.btn-secondary:hover {
  background-color: red;
}
.modal-header, .modal-footer{
border:none;
}
.modal-body ul{
margin-top: 50px;}

@media (max-width: 991px ){

  .prez2{
  display:flex;
  flex-direction: column-reverse;}

}

@media (max-width:768px ){


  
}
